{% extends 'base.html' %}

{% block title %}
AirQualityIndex
{% endblock title %}


{% block custom_css %}
<!-- Custom CSS -->
<link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
{% endblock custom_css %}


{% block body %}
<!-- nav bar -->

<nav class="navbar navbar-expand-lg navbar-light shadow fixed-top" style="background-color: #e3f2fd;">
    <a class="navbar-brand" href="/">AirQualityIndexPrediction</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="https://github.com/c17hawke/dvc-plus-cml-test">source code</a>
            </li>
        </ul>
    </div>
</nav>
<div>
    <!-- nav bar ends -->

    <div class="container-fluid masthead">
        <br>
        <br>
        <br>
        <br>
        <div class="container">
            <div class="row">
                <div class="col">
                    <form method="POST">
                        <!-- Input block-->
                        <div class="form-group">
                            <label for="translation">
                                <blockquote class="blockquote">
                                    <p class="mb-2">Enter the details as indicated:</p>
                                </blockquote>
                            </label>
                            <textarea class="form-control" name="PM2.5" rows="1"
                                placeholder="PM2.5 expected range 0.04 to 949.99"></textarea>
                            <textarea class="form-control" name="PM10" rows="1"
                                placeholder="PM10 expected range 0.01 to 1000.00"></textarea>
                            <textarea class="form-control" name="NO" rows="1"
                                placeholder="NO expected range 0.02 to 390.68"></textarea>
                            <textarea class="form-control" name="NO2" rows="1"
                                placeholder="NO2 expected range 0.01 to 362.21"></textarea>
                            <textarea class="form-control" name="NOx" rows="1" 
                                placeholder="NOx expected range 0.00 to 467.63"></textarea>
                            <textarea class="form-control" name="NH3" rows="1"
                                placeholder="NH3 expected range 0.01 to 352.89"></textarea>
                            <textarea class="form-control" name="CO" rows="1"
                                placeholder="CO expected range 0.0 to 175.81"></textarea>
                            <textarea class="form-control" name="SO2" rows="1" 
                                placeholder="SO2 expected range 0.01 to 193.86"></textarea>
                            <textarea class="form-control" name="O3" rows="1" 
                                placeholder="O3 expected range 0.01 to 257.73"></textarea>
                            <textarea class="form-control" name="Benzene" rows="1" 
                                placeholder="Benzene expected range 0.0 to 455.03"></textarea>
                            <textarea class="form-control" name="Toluene" rows="1" 
                                placeholder="Toluene expected range 0.0 to 454.85"></textarea>
                            <textarea class="form-control" name="Xylene" rows="1" 
                                placeholder="Xylene expected range 0.0 to 170.37"></textarea>

                        </div>

                        <!-- Select output language here. -->
                        <div class="form-group">
                        </div>
                        <button type="submit" class="btn btn-primary mb-2">Predict</button></br>
                        </br>
                    </form>
                    <!-- Translated text returned by the Translate API is rendered here. -->
                </div>
                <div class="col">
                    <form>
                        <div class="form-group">
                            <label for="translation-result">

                                <blockquote class="blockquote">
                                    <p class="mb-2">Prediction:</p>
                                </blockquote>

                            </label>
                            <textarea readonly class="form-control" id="exTextarea" rows="5">{{ response }}</textarea>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        {% endblock body %}

        {% block custom_js %}
        <!-- Custom JS -->
        <script src="{{ url_for('static', filename='script/index.js') }}"></script>
        {% endblock custom_js %}